# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# PowerShell
*.ps1xml
*.psd1
*.psc1

# Visual Studio / Editor
.vscode/
.idea/

# Virtual machine disk images (do not commit VMs)
*.vdi
*.vmdk
*.vhd
*.vhdx

# Images/screenshots local exports
/images/*.png
/images/*.jpg